<!doctype html>
<!--[if lt IE 7]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js"><!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include 'google_analytics.html' %}
    {% include 'favico.html' %}

    <title>{{ page_title }}</title>

    <!--SEO Stuff-->
    <meta name="description" content="Is It Keto helps you quickly identify which foods fit the keto diet.">

    <!-- Configuration -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    {% if food %}
      <meta property="og:url" content="https://isitketo.org/{{ food.key }}">
    {% else %}
      <meta property="og:url" content="https://isitketo.org/">
    {% endif %}
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Is It Keto?">
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:description" content="{{ short_description }}">
    {% if food %}
      <meta property="og:image" content="https://storage.googleapis.com/isitketo/isitketo-meter-{{ food.rating }}-square-600w.png">
    {% else %}
      <meta property="og:image" content="https://storage.googleapis.com/isitketo/isitketo-meter-3-square-600w.png">
    {% endif %}

    <!-- Twitter properties -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ketocheck" />
    {% if food %}
      <meta name="twitter:description" content="{{ food.short_description }}">
    {% endif %}
    {% if food %}
      <meta property="twitter:url" content="https://isitketo.org/{{ food.key }}">
    {% else %}
      <meta property="twitter:url" content="https://isitketo.org/">
    {% endif %}
    {% if food %}
      <meta property="twitter:image" content="https://storage.googleapis.com/isitketo/isitketo-meter-{{ food.rating }}-600w.png">
    {% endif %}

    <!-- Facebook properties -->
    <meta property="fb:app_id" content="1583652028393028" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    {% if load_js %}
       <script src="/static/app.js"></script>
    {% endif %}
  <head>
<body>

{% include 'navbar.html' %}
